<div class="canvas canvas__run">
    <canvas #canvas></canvas>
    <div class="run">
        <div class="run__status">
            <span>SPEED METER</span>
            <span class="run__target">TARGET SPEED</span>
        </div>
        <div class="run__bar">
            <div #progress class="run__progress"></div>
        </div>
        <div class="run__content">
            <div class="run__text">
                <p>GRAVITY RING</p>
                <p>EMERGENCY</p>
                <p>RESTART</p>
                <p>PROGRESS</p>
            </div>
            <figure class="visual run__visual">
                <img src="/assets/images/shipRotation.gif" />
            </figure>
        </div>
    </div>
</div>