.alien-hunting {
    background-image: url('/assets/images/gun2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
}