:host
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: 25px;

    text-align: center;

    color: white;
    background: url(/assets/images/launch-screen-background.jpg) center/cover;
}

h1
{
    letter-spacing: .35em;
    text-transform: uppercase;

    text-shadow: 0 0 10px rgba(210, 252, 255, .4), 0 0 70px rgba(62, 243, 255, .4);

    filter: blur(.5px);
}

p
{
    max-width: 325px;
    margin: 0 auto;

    letter-spacing: .1em;
    text-transform: uppercase;

    font-size: 13px;
    line-height: 1.45em;
}