:host
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: 25px;

    text-align: center;

    color: white;
    background: url(/assets/images/launch-screen-background.jpg) center/cover;
}

h1
{
    letter-spacing: .35em;
    text-transform: uppercase;

    text-shadow: 0 0 10px rgba(210, 252, 255, .4), 0 0 70px rgba(62, 243, 255, .4);

    filter: blur(.5px);
}

button
{
    display: block;

    width: 100%;
    margin-bottom: 30px;
    padding: 12px 15px;

    text-align: center;
    letter-spacing: .02em;
    text-transform: uppercase;

    color: white;
    border: 1px solid #73bcff;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(94deg, #00d1ff -30%, rgba(0, 60, 151, 0) 108%);

    font-size: 20px;
    font-weight: bold;
    line-height: 1.25em;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .4));
}

p
{
    max-width: 325px;
    margin: 60px auto 0 ;

    letter-spacing: .1em;
    text-transform: uppercase;

    font-size: 13px;
    line-height: 1.45em;
}