/**
 * Display type helpers
*/
.display
{
    &--block        { display: block; }
    &--inline       { display: inline; }
    &--inline-block { display: inline-block; }
    &--flex         { display: flex; }
    &--inline-flex  { display: inline-flex; }
    &--none         { display: none !important; }
}
