/**
 * Text type helpers
*/
.text
{
    &--left       { text-align: left;    }
    &--right      { text-align: right;   }
    &--center     { text-align: center;  }
    &--justify    { text-align: justify; }

    &--light      { font-weight: 300; }
    &--regular    { font-weight: 400; }
    &--semi-bold  { font-weight: 600; }
    &--bold       { font-weight: 700; }
    &--extra-bold { font-weight: 800; }
    
    &--small
    {
        font-size: to-rem(12px);
    }

    &--smaller
    {
        font-size: to-rem(14px);
    }

    &--larger
    {
        font-size: to-rem(20px);
    }

    &--large
    {
        font-size: to-rem(22px);
    }

    &--transform-none { text-transform: none; }
    &--lowercase      { text-transform: lowercase; }
    &--uppercase      { text-transform: uppercase; }
    &--capitalize     { text-transform: capitalize; }
}
