/**
 * Config
*/

/**
 * Custom
*/
$use-rem-unit: true;

/**
 * Paths
*/
$path-images: '/assets/images';
$path-font: '/assets/fonts';

/**
 * Typography
*/
$base-family-sans: Consolas, monaco, monospace;
$base-font-size: 16px;

/**
 * Spaces
*/
$spaces: (0, 15, 30, 40, 45, 60);