<div class="spacercraft canvas canvas__wipe">
    <header class="spacercraft__header">
        <h2 class="spacercraft__title">OXYGEN LEVEL</h2>
        <div class="spacercraft__bar">
            <div #progress class="spacercraft__progress"></div>
        </div>
        <div class="spacercraft__footer">
            <span>0%</span>
            <span>100%</span>
        </div>
    </header>
    <canvas #canvas id="canvas"></canvas>
    <canvas #canvasScratched id="canvasScratched"></canvas>
    <img #default src="/assets/images/hole_2.jpg" />
</div>