:host
{
    display: block;

    min-height: 100vh;
    padding: 30px;

    text-align: center;

    color: white;
    background: linear-gradient(150deg, #000000 -6%, #153547 100%);
}

.title
{
    margin-bottom: 50px;

    text-transform: uppercase;

    text-shadow: 0 0 10px rgba(210, 252, 255, .4), 0 0 70px rgba(62, 243, 255, .4);

    font-size: 60px;
    line-height: 1em;

    filter: blur(.5px);
}

.control
{
    margin: 0 auto 50px;
}

.button
{
    display: block;

    width: 100%;
    padding: 12px 15px;

    text-align: center;
    letter-spacing: .02em;
    text-transform: uppercase;

    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background: transparent;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.25em;

    &--large
    {
        padding: 16px 15px;

        font-size: 32px;
    }

    &:not(:last-child)
    {
        margin-bottom: 20px;
    }
}

.console
{
    text-align: left;

    &__title,
    &__description
    {
        text-transform: uppercase;
    }

    &__output,
    &__title,
    &__description
    {
        letter-spacing: .02em;

        color: #ffffff;
        text-shadow: 0 0 10px rgba(255, 255, 255, .4), 0 0 70px rgba(255, 255, 255, .4);

        filter: blur(.5px);
    }

    &__title
    {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25em;
    }

    &__description
    {
        font-size: 14px;
        line-height: 1.25em;
    }

    &__output
    {
        font-size: 14px;
        line-height: 2.15em;

        &:before
        {
            content: '<_ ';
        }
    }

    &:before
    {
        display: block;

        width: 110px;
        height: 4px;
        margin-bottom: 15px;

        content: '';

        border-radius: 2px;
        background-color: white;
        box-shadow: 0 0 10px rgb(255 255 255 / 60%), 0 0 70px rgb(255 255 255 / 60%);

        filter: blur(.5px);
    }
}